html body {
  min-height: 100vh;
  overflow-x: hidden;
}
html body,
html body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  transition: all 0.5s;
}

html body {
  display: flex;
  flex-direction: row;
}
html body .header {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 40px;
  background-color: white;
  height: 100vh;
}
html body .header .logo {
  font-size: 26px;
  font-weight: 500;
}
html body .header .logo button {
  border: none;
  padding: 0;
}
html body .header .accordion ul {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 0 10px;
}
html body .header .accordion ul li {
  list-style-type: none;
  cursor: pointer;
  color: #777777;
}
html body .header .accordion ul li:hover {
  color: black;
}
html body .header .accordion .accordion-item .accordion-header .accordion-button {
  box-shadow: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;
  color: #777777;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s, box-shadow 0.5s, border-radius 0.5s;
}
html body .header .accordion .accordion-item .accordion-header .accordion-button::after {
  display: none;
}
html body .header .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: white;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  box-shadow: none;
  color: black;
}
html body .header .accordion .accordion-item .accordion-header .accordion-button:hover {
  color: black;
}
html body .header .accordion .accordion-item .accordion-body {
  padding: 0px 0;
}
html body .main {
  width: 100vw;
  padding: 50px;
  margin-left: 350px;
  padding-right: 0;
  position: relative;
}
html body .main .paintings {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
html body .main .paintings .img-box {
  height: 350px;
  box-shadow: 10px 11px 32px -1px rgba(0, 0, 0, 0.28);
  position: relative;
}
html body .main .paintings .img-box:hover {
  box-shadow: 10px 11px 32px -1px rgb(0, 0, 0);
}
html body .main .paintings .img-box:hover button {
  opacity: 1;
}
html body .main .paintings .img-box button {
  transition: 0.5s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
html body .main .paintings .img-box button p {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
html body .main .paintings .img-box img {
  height: 100%;
}
html body .main .paintings.hidden {
  opacity: 0;
  z-index: -1;
}
html body .main .modal-container .modal .modal-dialog {
  max-width: none;
  margin: 0 auto;
  width: auto;
  justify-content: center;
}
html body .main .modal-container .modal .modal-dialog .modal-content {
  width: auto;
  background-color: transparent;
  border: none;
}
html body .main .modal-container .modal .modal-dialog .modal-content .modal-header {
  border: none;
  color: white;
}
html body .main .modal-container .modal .modal-dialog .modal-content .modal-body {
  width: auto;
}
html body .main .modal-container .modal .modal-dialog .modal-content .modal-body img {
  width: 100%;
  max-height: 80vh;
}
html body .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

html body.light {
  background-color: white;
}
html body.light .header {
  background-color: white;
}
html body.light .header .logo button {
  background-color: white;
  color: #212529;
}
html body.light .header .accordion ul li {
  color: #777777;
}
html body.light .header .accordion ul li:hover {
  color: black;
}
html body.light .header .accordion .accordion-item .accordion-header .accordion-button {
  color: #777777;
}
html body.light .header .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: white;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  box-shadow: none;
  color: black;
}
html body.light .header .accordion .accordion-item .accordion-header .accordion-button:hover {
  color: black;
}
html body.light .main .paintings-light {
  opacity: 1;
}
html body.light .main .paintings-dark {
  opacity: 0;
}
html body.dark {
  background-color: black;
}
html body.dark .header {
  background-color: black;
}
html body.dark .header .logo button {
  background-color: black;
  color: white;
}
html body.dark .header .accordion ul li {
  color: #9e9e9e;
}
html body.dark .header .accordion ul li:hover {
  color: #ffffff;
}
html body.dark .header .accordion .accordion-item .accordion-header .accordion-button {
  color: #9e9e9e;
  background-color: black;
}
html body.dark .header .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: black;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  box-shadow: none;
  color: #ffffff;
}
html body.dark .header .accordion .accordion-item .accordion-header .accordion-button:hover {
  color: #ffffff;
}
html body.dark .header .accordion .accordion-item .accordion-body {
  background-color: black;
}
html body.dark .main .paintings-light {
  opacity: 0;
}
html body.dark .main .paintings-dark {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */